@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,200;1,400&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
    font-family: 'Montserrat', sans-serif;
}

.nav-container{
  box-shadow: 0.5 0.5 20 10 rgb(209, 207, 207);
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  align-items: center;
}

.logo img{
    width: 10rem;
}

.nav-items > ul{
    display: flex;
}

.nav-items > ul > li{
    list-style-type: none;
    margin-right: 3rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: #39393abf;
    display: flex;
    align-items: center;
}

.nav-items > ul >li:hover{
    transition: all 0.5s ease-in-out;
    color:#fa8427;
    cursor: pointer;
}

.nav-icon-img img{
    width: 20px;
    margin-right: 0.5rem;
}

.card-container{
    padding: 2rem;
}

.card:hover{
    border: 1px solid black;
    cursor: pointer;
}


.card{
    margin: 1rem;
    padding: 0.5rem ;
}

.card-img img{
    width: 180px;
    border-radius: 20%;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}